<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	
	<resultMap id ="memberResultSet" type="member">
  		<result column="USER_ID" property="userId"/>
  		<result column="USER_NICKNAME" property="userNickName"/>
  		<result column="USER_PWD" property="userPwd"/>
  		<result column="USER_NAME" property="userName"/>
  		<result column="EMAIL" property="email"/>
  		<result column="ENROLL_DATE" property="enrollDate"/>
  		<result column="MEMBER_LOGIN_CHECK" property="memberLoginCheck"/>
  		<result column="AUTHORITY" property="authority"/>
  		<result column="STATUS" property="status"/>
  	</resultMap>

 

	<!--  로그인용 쿼리문  -->
  	<select id ="loginMember" parameterType="member" resultMap ="memberResultSet">
  	
  		SELECT
  				USER_ID,
				USER_NICKNAME,
  				USER_PWD,
  				USER_NAME,
  				EMAIL,
  				ENROLL_DATE,
  				MEMBER_LOGIN_CHECK,
  				AUTHORITY,
  				STATUS
  		 FROM
  				MEMBER	
  		WHERE	
  				USER_ID = #{userId}
  		AND	
  				STATUS = 'Y'	 

  	</select>
  	
  	<!--  회원가입용 쿼리문  -->
  	<insert id ="insertMember">
  		INSERT INTO	
  					MEMBER
  				    (
  				    USER_ID,
  				    USER_NICKNAME,
  				    USER_PWD,
  				    USER_NAME,
  				    EMAIL,
  				    ENROLL_DATE,
  				    MEMBER_LOGIN_CHECK,
  				    AUTHORITY,
  				    STATUS
  				    )
  			VALUES 
  					(
  					#{userId},
  					#{userNickName},
  					#{userPwd},
  					#{userName},
  					#{email},
  					SYSDATE,
  					1,
  					'M',
  					'Y'
  					)
  	</insert>
  	
  	<!--  아이디 중복체크용 쿼리문 -->
  	<select id="idCheck" resultType="_int">
  	
  		SELECT COUNT(*)
  		FROM   MEMBER
  		WHERE  USER_ID = #{checkId}
  		
  	</select>
  	
  	<!--  닉네임 중복체크용 쿼리문 -->
  	 <select id = "NickNameCheck" resultType="_int">
  	 
  		SELECT COUNT(*)
  		FROM MEMBER
  		WHERE USER_NICKNAME = #{userNickName}	
  		
  	</select>
  	
  	<!--  이메일 중복체크용 쿼리문 -->
  	 <select id = "emailCheck" resultType="_int">
  	 
  		SELECT COUNT(*)
  		FROM MEMBER
  		WHERE EMAIL = #{email}	
  		
  	</select>
  	
  	<!--  이메일 전송관련 쿼리문 -->
  	<insert id="regist" parameterType="certvo">
  	
  		INSERT INTO CERT(who, secret, when)
  		VALUES (#{who}, #{secret}, sysdate)
  		
  	</insert>
  	
  	<select id="validate" resultType="certvo" parameterType="certvo">
  	
  		SELECT * FROM CERT
  		WHERE WHO = #{who}
  		AND  SECRET = #{secret}
  		AND  WHEN BETWEEN SYSDATE - 3/24/60 AND SYSDATE	
  			
  	</select>
  	
  	<!--  인증번호 정보 삭제 쿼리문 -->
  	<delete id="remove" parameterType="certvo">
  	
  		DELETE CERT
  		WHERE WHO = #{who}
  		AND  SECRET = #{secret}
  		
  	</delete>
  	
  	
  	<!--  아이디 찾기용 쿼리문 -->
  	<select id="findId" resultMap ="memberResultSet" parameterType="member"> 
  	 	
	SELECT USER_ID
  	FROM MEMBER
  	WHERE USER_NAME = #{userName}
  	AND EMAIL = #{email}
  	AND STATUS = 'Y'
  	
  	</select>
  	
  	<!--  비밀번호 조회용 쿼리문 --> 	
  	<select id="findPwd" resultMap ="memberResultSet" parameterType="member">	
  	
  	SELECT USER_PWD
  	FROM MEMBER
  	WHERE USER_ID = #{userId}
  	AND EMAIL = #{email}
  	AND STATUS = 'Y'	
  	
  	</select>
  	
  	<!--  비밀번호 변경용 쿼리문 -->
  	
  	<update id="changePwd" parameterType="member">
  		
  		UPDATE MEMBER
  		   SET USER_PWD = #{userPwd}
         WHERE USER_ID = #{userId}
         	
  	</update>
  	
  	
  	
  	
  	
  	
</mapper>