<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tripBoardMapper">

	<resultMap type="tripboard" id="TripBoardResultSet">
		<result column="TR_BOARD_NO" property="trboardNo"/>
		<result column="TR_BOARD_TITLE" property="trboardTitle"/>
		<result column="TR_BOARD_CONTENT" property="trboardContent"/>
		<result column="TR_BOARD_WRITER" property="trboardWriter"/>
		<result column="CREATE_DATE" property="createDate"/> 
		<result column="STATUS" property="status"/>
		<result column="LOCAL_NAME" property="localName"/>
		<result column="CHANGE_NAME" property="changeName"/>
	</resultMap>
	
	<select id="trBoardListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM TR_BOARD
		 WHERE STATUS='Y'
	</select>
	
	<select id="trBoardList" resultMap="TripBoardResultSet">
		SELECT TR_BOARD_NO, TR_BOARD_TITLE, LOCAL_NAME, CHANGE_NAME
	      FROM TR_BOARD TB
          JOIN TR_ATTACHMENT ON(TR_BOARD_NO = REF_TBNO)
         WHERE TB.STATUS = 'Y'
         ORDER BY TR_BOARD_NO DESC
	</select>
	
	<select id="filterTripBoardtCount" resultType="_int">
	
		SELECT COUNT(*)
		  FROM TR_BOARD
		 WHERE STATUS='Y'
		 AND LOCAL_NAME = #{localName}
	
	</select>
	
	<select id="filterTripBoard" resultMap = "TripBoardResultSet">
		SELECT TR_BOARD_NO, TR_BOARD_TITLE, LOCAL_NAME, CHANGE_NAME
	      FROM TR_BOARD TB
          JOIN TR_ATTACHMENT ON(TR_BOARD_NO = REF_TBNO)
         WHERE TB.STATUS = 'Y'
           AND LOCAL_NAME = #{localName}
         ORDER BY TR_BOARD_NO DESC
	</select>

</mapper>
